<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Trackgenix</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
        <link rel="stylesheet" href="../css/reset.css">
        <link rel="stylesheet" href="../css/styles.css">
        <link rel="stylesheet" href="../css/header.css">
        <link rel="stylesheet" href="../css/sidebar.css">
        <link rel="stylesheet" href="../css/sign-up.css">
        <link rel="stylesheet" href="../css/footer.css">
        <script src="https://kit.fontawesome.com/e0deaaf2c8.js" crossorigin="anonymous"></script>
        <script src="../javascript/sign-up.js"></script>
    </head>
    <body>
        <header>
            <h1>Trackgenix</h1>
            <i class="fa-solid fa-bars" id="bars"></i>
        </header>
        <div class="main-container">
            <aside class="sidebar">
                <h2>
                    Menu
                </h2>
                <form>
                    <div class="search">
                        <button class="search-button">
                            <i class="fa-solid fa-magnifying-glass"></i>
                        </button>
                        <input type="text" placeholder="Search">
                    </div>
                </form>
                <nav>
                    <a href="../views/index.html">
                        <i class="fa-solid fa-house"></i>
                        Home
                    </a>
                    <a href="../views/login.html">
                        <i class="fa-solid fa-arrow-right-to-bracket"></i>
                        Login
                    </a>
                    <a href="../views/sign-up.html">
                        <i class="fa-solid fa-person"></i>
                        SignUp
                    </a>
                </nav>
                <h3>
                    Get in touch
                </h3>
                <p class="gigatech">
                    Gigatech is always looking for talented software developers to join our team. If you are interested in
                    working with
                    us, please get in touch. We would be happy to discuss your experience and skills
                </p>
                <div class="contact">
                    <p>
                        <img src="../assets/email-icon.png" alt="Email icon" class="email">
                        information@untitled.tld
                    </p>
                    <p class="middle">
                        <img src="../assets/phone-icon.png" alt="Phone icon" class="phone">
                        (000) 000-0000
                    </p>
                    <p>
                        <img src="../assets/adress-icon.png" alt="Adress icon" class="address">
                        621 Taylor St. , San Francisco, CA
                    </p>
                </div>
            </aside>
            <main>
                <img src="../assets/rr-logo.png" alt="Radium Rocket Logo" class="rr-logo">
                <div id="log-in">
                    <form class="data-box">
                        <h2>
                            Sign up
                        </h2>
                        <div class="inputs">
                            <div>
                                <input type="text" placeholder="Name" id="first-name" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Last name" id="last-name" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Document number" id="document-number" class="normal-border">
                            </div>
                            <div>
                                <input type="date" placeholder="Date of birth" id="date-of-birth" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Phone number" id="phone-number" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Adress" id="adress" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="City" id="city" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Postal code" id="postal-code" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Email" id="email" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Password" id="password" class="normal-border">
                            </div>
                            <div>
                                <input type="text" placeholder="Confirm password" id="confirm-password" class="normal-border">
                            </div>
                        </div>
                    </form>
                    <div id="buttons">
                        <a href="../views/index.html" id="back-button" class="button">
                            Back
                        </a>
                        <button id="log-in-button" class="button">
                            Sign up
                        </button>
                    </div>
                </div>
            </main>
            <div class="footer">
                <footer>
                    <div id="social-media">
                        <a href="https://facebook.com" id="fb">
                            <i class="fa-brands fa-facebook"></i>
                        </a>
                        <a href="https://instagram.com" id="ig">
                            <i class="fa-brands fa-instagram"></i>
                        </a>
                        <a href="https://twitter.com" id="tw">
                            <i class="fa-brands fa-twitter"></i>
                        </a>
                    </div>
                    <p>
                        ©GigaTech Software Solutions Sa. Inc. All right reserved.
                    </p>
                </footer>
            </div>
        </div>
    </body>
</html>