* {
    box-sizing: border-box;
}

h1, h2, h3, h4, a, p, form, option, textarea, li {
    font-family: 'Roboto';
}

header {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #41426F;
}

h1 {
    padding-top: 1.5%;
    margin-left: 2%;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

aside {
    position: fixed;
    bottom: 0px;
    height: 90%;
    width: 20%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #41426F;
}

aside h2 {
    margin-top: 22px;
    width: 100px;
    border-bottom: 3px solid #AACE9B;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

aside input {
    width: 100%;
    height: 38px;
    padding-left: 10%;
    background-color: #41426F;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.search {
    margin-top: 25px;
}

.search-button {
    margin-top: -28px;
    margin-left: 5px;
    background-color: #41426F;
    color: #FFFFFF;
    border: none;
}

nav a {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    padding: 10px 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #41426F;
    text-decoration-line: none;
    display: inline-block;
    box-shadow: 0px 4px 4px #000000;
}

nav a:hover {
    background-color: #AACE9B;
    color: #FFFFFF;
}

 aside h3 {
    margin-top: 100px;
    font-size: 15px;
    font-weight: bold;
    color: #FFFFFF;
    border-bottom: 3px solid #AACE9B;
    width: 81px;
}

.gigatech {
    font-size: 15px;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 6%;
    color: #FFFFFF;
}

.middle {
    width: 100%;
    margin-right: 16px;
    border-top: 1px solid #AACE9B;
    border-bottom: 1px solid #AACE9B;
}

aside p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FFFFFF;
}

main {
    width: 100%;
    padding-left: 25%;
    padding-right: 2%;
    padding-top: 5%;
}

#sect-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 3px solid #41426F;
}

#sect-1 h2 {
    padding-top: 50px;
    margin-left: 20px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #41426F;
}

#sect-1 h3 {
    padding-top: 12px;
    margin-left: 20px;
    font-size: 20px;
    text-transform: uppercase;
    color: #41426F;
}

#sect-1 p {
    width: 35%;
    margin-top: 12px;
    margin-left: 20px;
    font-size: 21px;
    line-height: 1.3;
    color: #41426F;
}

#sect-1 img {
    width: 59%;
    margin-left: 41%;
    margin-top: -301px;
}

#sect-1 a {
    padding: 15px 33px;
    margin-top: -47px;
    margin-left: 260px;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #41426F;
    text-decoration-line: none;
    text-align: center;
    box-shadow: 0px 4px 4px #000000;
    display: inline-block;
}

#sect-1 a:hover {
    background-color: #AACE9B;
    color: #FFFFFF;
}

#sect-2 {
    padding-top: 50px;
    border-top: 3px solid #41426F;
}

#sect-2 h3 {
    padding-left: 70px;
    font-size: 30px;
    color: #000000;
    font-weight: bold;
}

#sect-2 img {
    margin-top: -50px;
}

#sect-2 p {
    margin-left: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #41426F;
}

article {
    display: inline-block;
    width: 35%;
    margin-left: 90px;
    margin-bottom: 80px;
}

#sect-3 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #41426F;
    border-bottom: 2px solid #41426F;
}

#sect-3 h3 {
    width: 372px;
    margin-left: 20px;
    font-size: 40;
    font-weight: bold;
    color: #41426F;
    border-bottom: 3px solid #41426F;
}

#sect-3 li {
    display: inline-block;
    width: 40%;
    margin-left: 57px;
    margin-top: 26px;
    list-style-image: url(/Semana-03/assests/arrow-icon.png);
}

#sect-3 h4 {
    font-size: 24px;
    font-weight: bold;
    color: #41426F;
}

#sect-3 p {
    font-size: 20px;
    color: #41426F;
}

#form {
    width: 40%;
    height: 465px;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    background-color: #AACE9B;
    border-radius: 20px;
    font-size: 14px;
    font-weight: 600;
    color: #41426F;
}

form li {
    display: inline-block;
    width: 49%;
}

#name, #email, #contact select, #message {
    width: 100%;
    height: 37px;
    margin-top: 7px;
    background-color: #AACE9B;
    border: 1px solid #41426F;
    border-radius: 4px;
}

#contact {
    margin-top: 8px;
}

option {
    background-color: #FFFFFF;
    height: 37px;
}

#message-title {
    margin-top: 103px;
}

#message {
    height: 102px;
    vertical-align: text-top;
}

textarea {
    resize: none;
}

footer {
    position: relative;
    height: 147px;
    width: 100%;
    padding-left: 20%;
    background-color: #41426F;
    color: #FFFFFF;
}

#send {
    width: 255px;
    height: 50px;
    margin-top: 25px;
    text-align: center;
    font-size: 15;
    font-weight: bold;
    background-color: #FFFFFF;
    color: #41426F;
    border: none;
    border-radius: 5px;
    float: right;
    box-shadow: 0px 4px 4px #000000;
}

#send:hover {
    background-color: #41426F;
    color: #FFFFFF;
}

#sect-4 {
    border-top: 3px solid #41426F;
    padding: 20px 20px 20px 20px;
}

#sect-4 h2 {
    margin-bottom: 15px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #41426F;
}

#sect-4 p {
    font-size: 24px;
    color: #41426F;
}

#content {
    width: 30%;
}

#sect-5 {
    border-top: 3px solid #41426F;
}

#sect-5 h2 {
    font-size: 40px;
    font-weight: bold;
    color: #41426F;
}

#sect-5 li {
    font-size: 15px;
    color: #41426F;
}

#columns {
    display: inline-block;
    width: 25%;
}

footer img {
    padding-top: 20px;
}

#fb {
    padding-left: 36.5%;
}

#ig {
    padding-left: 4%;
}

#tw {
    padding-left: 4%;
}

footer p {
    padding-left: 32%;
    padding-top: 42px;
}