* {
    box-sizing: border-box;
}

h1, h2, h3, h4, a, p {
    font-family: 'Roboto';
}

header {
    position: fixed;
    height: 10%;
    width: 100%;
    background-color: #41426F;
}

h1 {
    padding-top: 1.5%;
    margin-left: 2%;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

aside {
    position: fixed;
    bottom: 0px;
    height: 90%;
    width: 20%;
    padding-left: 16px;
    padding-right: 16px;
    background-color: #41426F;
}

aside h2 {
    margin-top: 22px;
    width: 100px;
    border-bottom: 3px solid #AACE9B;
    font-size: 40px;
    font-weight: bold;
    color: #FFFFFF;
}

aside input {
    width: 100%;
    height: 38px;
    padding-left: 10%;
    background-color: #41426F;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
}

.search {
    margin-top: 25px;
}

.search-button {
    margin-top: -28px;
    margin-left: 5px;
    background-color: #41426F;
    color: #FFFFFF;
    border: none;
}

nav li {
    width: 100%;
    height: 50px;
    margin-top: 25px;
    padding: 10px 0;
    background-color: #FFFFFF;
    border-radius: 5px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    color: #41426F;
    text-decoration-line: none;
    box-shadow: 0px 4px 4px #000000;
}

 aside h3 {
    font-size: 15px;
    font-weight: bold;
    margin-top: 20%;
    color: #FFFFFF;
    border-bottom: 3px solid #AACE9B;
    width: 81px;
}

.description {
    font-size: 15px;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 6%;
    color: #FFFFFF;
}

.middle {
    width: 100%;
    margin-right: 16px;
    border-top: 1px solid #AACE9B;
    border-bottom: 1px solid #AACE9B;
}

aside p {
    font-size: 14px;
    font-weight: bold;
    margin-top: 2%;
    margin-bottom: 2%;
    color: #FFFFFF;
}

main {
    width: 100%;
    padding-left: 25%;
    padding-right: 2%;
    padding-top: 5%;
}

#sect-1 {
    margin-top: 50px;
    margin-bottom: 50px;
    border-top: 3px solid #41426F;
}

#sect-1 h2 {
    padding-top: 50px;
    font-size: 30px;
    font-weight: bold;
    text-transform: uppercase;
    color: #41426F;
}

#sect-1 h3 {
    padding-top: 12px;
    font-size: 20px;
    text-transform: uppercase;
    color: #41426F;
}

#sect-1 p {
    width: 35%;
    margin-top: 12px;
    font-size: 21px;
    color: #41426F;
}

#sect-1 img {
    width: 59%;
    margin-left: 41%;
    margin-top: -274px;
}

#sect-1 a {
    margin-top: 100px;
    background-color: #FFFFFF;
    box-shadow: 0px 4px 4px #000000;
}

#sect-2 {
    padding-top: 50px;
    border-top: 3px solid #41426F;
}

#sect-2 h3 {
    padding-left: 70px;
    font-size: 30px;
    font-weight: bold;
}

#sect-2 img {
    margin-top: -50px;
}

#sect-2 p {
    margin-left: 70px;
    font-size: 14px;
    font-weight: bold;
    color: #41426F;
}

article {
    display: inline-block;
    width: 40%;
    margin-left: 90px;
    margin-bottom: 80px;
}

#sect-3 {
    padding-top: 50px;
    padding-bottom: 50px;
    border-top: 2px solid #41426F;
    border-bottom: 2px solid #41426F;
}

#sect-3 h3 {
    width: 372px;
    margin-left: 20px;
    font-size: 40;
    font-weight: bold;
    color: #41426F;
    border-bottom: 3px solid #41426F;
}

#sect-3 li {
    display: inline-block;
    width: 40%;
    margin-left: 57px;
    margin-top: 26px;
}

#sect-3 h4 {
    font-size: 24px;
    font-weight: bold;
    color: #41426F;
}

#sect-3 p {
    font-size: 20px;
    color: #41426F;
}

#form {
    width: 40%;
    margin-left: 30%;
    background-color: #AACE9B;
    border-radius: 20px;
}

footer {
    position: relative;
    height: 147px;
    width: 100%;
    padding-left: 20%;
    background-color: #41426F;
    color: #FFFFFF;
}

footer img {
    padding-top: 20px;
}

#fb {
    padding-left: 36.5%;
}

#ig {
    padding-left: 4%;
}

#tw {
    padding-left: 4%;
}

footer p {
    padding-left: 32%;
    padding-top: 42px;
}