footer {
    bottom: 0px;
    height: 143px;
    width: 100%;
    padding-top: 19px;
    padding-bottom: 68px;
    background-color: #41426F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-media {
    width: 318px;
    display: flex;
}

#fb {
    margin-left: 0px;
}

#ig {
    margin-left: auto;
    margin-right: auto;
}

#tw {
    margin-right: 0px;
}

.fa-facebook, .fa-instagram, .fa-twitter {
    color: #FFFFFF;
    font-size: 48px;
}

footer p {
    padding-top: 42px;
    align-items: center;
}

@media (min-width: 1024px) {

    footer {
        width: 80%;
        margin-left: 20%;
    }
}