footer {
    bottom: 0px;
    height: 165px;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 68px;
    background-color: #41426F;
    color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#social-media {
    width: 318px;
    display: flex;
}

#fb {
    margin-left: 0px;
}

#ig {
    margin-left: auto;
    margin-right: auto;
}

#tw {
    margin-right: 0px;
}

footer p {
    padding-top: 22px;
    align-items: center;
}