header {
    position: fixed;
    height: 120px;
    width: 100%;
    padding: 0 26px;
    background-color: #41426F;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

h1 {
    font-size: 40px;
    font-weight: bold;
    color: white;
}

.fa-bars {
    color: white;
    font-size: 40px;
}

h1, .fa-bars {
    margin-bottom: 10px;
}

@media (min-width: 1024px) {

    #bars {
        display: none;
    }
}